extends ./_base/_layout.pug
block vars
  - var metaTitle = 'Home'
  - var path = '.'
  - var page = 'top2'
  - var imgPC = path + '/resources/images/top/'
  - var imgSP = path + '/resources/images/top/sp/'
  - var imgCommonPC = path + '/resources/images/common/'
  - var imgCommonSP = path + '/resources/images/common/sp/'
  - var videoCommon = path + '/resources/video/'

block content
  .mask
    .wrap-logo
      svg.load-icon(x="0", y="0", width="474", height="115", viewBox="0 0 474 115")
        path.st0.stroke-line(d="M43.3,31.7L39.9,30l3.3-1.8c4.3-2.3,6.9-7.1,6.9-12.6c0-7.4-5.5-15.5-17.5-15.5H0.1v61.7h33.5  c10.8,0,17.7-6.4,17.7-16.4C51.4,39.5,48.2,34.1,43.3,31.7 M12.4,10.5h17.3c4.7,0,7.9,3.1,7.9,7.4c0,4.5-3.2,7.5-7.9,7.5H12.4V10.5z   M30.2,51.6H12.4V35.7h17.8c5.2,0,8.7,3.2,8.7,7.9C38.8,48.5,35.5,51.6,30.2,51.6 M99,56.5c0-2.9-2.3-5.2-5.2-5.2H72.5V0.2H60.2v61.7H99V56.5z M157.5,36.6V0.2h-5.2c-3.9,0-7,3.1-7,7v29.1c0,9.4-5.5,15.1-14.7,15.1c-9.5,0-14.9-5.5-14.9-15.1V7.2  c0-3.9-3.1-7-7-7h-5.2v36.6c0,16.2,9.6,25.2,27.1,25.2C147.9,61.9,157.5,52.9,157.5,36.6 M209.7,56.9c0-3-2.4-5.4-5.4-5.4h-25.7V35.7h24.3V25.3h-24.3V10.6h25.7c3,0,5.4-2.4,5.4-5.4v-5h-43.4v61.7h43.4  V56.9z M266.4,31.5l6.8-18v48.4h12.4V0.2H273c-3.3,0-6.2,2-7.3,5l-13.7,35.2L238.3,5.2c-1.2-3.1-4.1-5-7.3-5h-12.4  v61.7h12.3V24.6l0,0V13.5l6.8,18.1l11.9,30.3h5.1L266.4,31.5z M329.8,0.2H322c-4.9,0-9.4,3.1-11.2,7.7l-20.9,54h13.5l4-10.8h28.9l4,10.8h13.4L329.8,0.2z M310.5,40.6l11.3-31  l11.2,31H310.5z M407.4,19.9c0-11.8-8.3-19.7-20.5-19.7H358v61.7h12.3V39.4h10.7l8.8,16.1c2.2,3.9,6.3,6.4,10.8,6.4h6.7  l-13.9-23.6l2.3-0.8C398.4,36.6,407.4,32.5,407.4,19.9 M384.8,29h-14.6V10.5h14.6c5.9,0,10,3.8,10,9.2C394.8,25.2,390.7,29,384.8,29 M424,31c0-12.1,7.8-20.5,18.9-20.5c11.2,0,19,8.4,19,20.5c0,1.9-0.2,3.8-0.7,5.7l9.3,9.3 c2.3-4.5,3.5-9.6,3.5-15c0-17.9-13.1-30.9-31.2-30.9c-8.8,0-16.8,3.1-22.5,8.8c-5.6,5.6-8.7,13.4-8.7,22c0,16.4,13.4,30.3,29.8,30.8  c0.2,0,0.4,0,0.6,0c0.2,0,0.4,0,0.6,0c2.6,0,5.6-0.1,8.3-1l-9.4-9.4C431.2,50.9,424,42.6,424,31 M443.5,44.8l14.2,14.2c3.9,3.9,10.3,3.9,14.2,0l1.5-1.5l-21.2-21.2L443.5,44.8z ").
        path.st0.stroke-line(d="M98.4,90c-2.2-1.1-4.7-1.7-7.5-1.7H79.7v26.5h11.2c2.8,0,5.3-0.6,7.5-1.7c2.2-1.1,3.8-2.7,5-4.7  c1.2-2,1.8-4.3,1.8-6.9s-0.6-4.9-1.8-6.9C102.3,92.6,100.6,91.1,98.4,90 M100.1,106.8c-0.9,1.5-2.1,2.7-3.7,3.5  c-1.6,0.8-3.5,1.3-5.7,1.3h-7.2V91.6h7.2c2.2,0,4.1,0.4,5.7,1.3c1.6,0.8,2.9,2,3.7,3.5c0.9,1.5,1.3,3.2,1.3,5.2  C101.5,103.5,101,105.3,100.1,106.8 M241.5,91.8c-1.3-1.2-2.8-2.2-4.5-2.8c-1.7-0.7-3.6-1-5.6-1c-2,0-3.9,0.3-5.7,1c-1.7,0.7-3.2,1.6-4.5,2.9  c-1.3,1.2-2.2,2.7-3,4.3c-0.7,1.6-1.1,3.4-1.1,5.4c0,1.9,0.4,3.7,1.1,5.4c0.7,1.6,1.7,3.1,3,4.3c1.3,1.2,2.8,2.2,4.5,2.9  c1.7,0.7,3.6,1,5.6,1c2,0,3.9-0.3,5.6-1c1.7-0.7,3.2-1.6,4.5-2.8c1.3-1.2,2.3-2.7,3-4.3c0.7-1.6,1-3.5,1-5.4s-0.3-3.8-1-5.4  C243.8,94.5,242.8,93.1,241.5,91.8 M240.9,105.6c-0.5,1.2-1.2,2.3-2.2,3.2c-0.9,0.9-2,1.6-3.3,2.1c-1.3,0.5-2.6,0.8-4.1,0.8  c-1.5,0-2.9-0.3-4.1-0.8c-1.3-0.5-2.3-1.2-3.3-2.1c-0.9-0.9-1.7-2-2.2-3.2c-0.5-1.2-0.8-2.6-0.8-4.1c0-1.5,0.3-2.8,0.8-4.1  c0.5-1.2,1.2-2.3,2.2-3.2c0.9-0.9,2-1.6,3.3-2.1c1.3-0.5,2.6-0.8,4.1-0.8c1.5,0,2.8,0.3,4.1,0.8c1.3,0.5,2.3,1.2,3.3,2.1  c0.9,0.9,1.6,2,2.2,3.2c0.5,1.2,0.8,2.6,0.8,4.1C241.7,103,241.4,104.4,240.9,105.6 M269.5,89.4c-1.6-0.7-3.6-1.1-6-1.1h-10.4v26.5h3.8v-8h6.6c2.3,0,4.3-0.4,6-1.1c1.6-0.7,2.9-1.8,3.8-3.2  c0.9-1.4,1.3-3,1.3-4.9c0-1.9-0.4-3.6-1.3-5C272.4,91.2,271.2,90.1,269.5,89.4 M269,101.9c-1.3,1-3.1,1.6-5.5,1.6H257V91.6h6.4  c2.4,0,4.3,0.5,5.5,1.6c1.3,1,1.9,2.5,1.9,4.4C270.8,99.4,270.2,100.9,269,101.9 M116.8 103L130.1 103L130.1 99.7L116.8 99.7L116.8 91.6L131.7 91.6L131.7 88.3L113 88.3L113 114.8L132.2 114.8L132.2 111.5L116.8 111.5Z M149.5 110.1L140 88.3L135.9 88.3L147.5 114.8L151.3 114.8L162.9 88.3L159.2 88.3Z M172 103L185.3 103L185.3 99.7L172 99.7L172 91.6L186.9 91.6L186.9 88.3L168.2 88.3L168.2 114.8L187.5 114.8L187.5 111.5L172 111.5Z M199.3 88.3L195.5 88.3L195.5 114.8L213.7 114.8L213.7 111.5L199.3 111.5Z M307.2 88.3L296.3 106.9L285.2 88.3L282.1 88.3L282.1 114.8L285.7 114.8L285.7 95.6L295.3 111.6L297.1 111.6L306.7 95.5L306.7 114.8L310.4 114.8L310.3 88.3Z M324 103L337.3 103L337.3 99.7L324 99.7L324 91.6L338.9 91.6L338.9 88.3L320.2 88.3L320.2 114.8L339.5 114.8L339.5 111.5L324 111.5Z M366.6 108.1L350.6 88.3L347.5 88.3L347.5 114.8L351.3 114.8L351.3 95L367.2 114.8L370.3 114.8L370.3 88.3L366.6 88.3Z M376.4 91.6L385.5 91.6L385.5 114.8L389.2 114.8L389.2 91.6L398.3 91.6L398.3 88.3L376.4 88.3Z").
      .load-icon.hide
        img.image-common(src=imgCommonPC+"header_logo.svg", width="576", height="115", loading="eager", alt="BLUEMARQ Development")
  nav.nav#nav.hidden
    .nav-item(data-target="section-home")
      .nav-line
      span.nav-label THE EMERALD<br>BOULEVARD
    .nav-item(data-target="section-location")
      .nav-line
      span.nav-label TỔNG QUAN
    .nav-item(data-target="section-utility")
      .nav-line
      span.nav-label TIỆN ÍCH
    .nav-item(data-target="section-central")
      .nav-line
      span.nav-label MẶT BẰNG
    .nav-item(data-target="section-gallery")
      .nav-line
      span.nav-label THƯ VIỆN
  main
    .slider-stage(aria-hidden="true")
      section.panel.section-top-keyvisual
        .group-central
          .inner
            .group-bg
              .keyvisual-intro
                video.object-common.js-video#video-element(loop, muted, playsinline, preload="auto", width="1920", height="1050")
                  source(src=videoCommon+"keyvisual_video.mp4")
                  | Your browser does not support the video tag.
              .keyvisual-wrapper
                h1.keyvisual-title.hero-title
                  span.js-title-fade The Mark Of Excellence
                a.keyvisual-link.hero-sub(href="#") Xem thêm
      section.panel.section-top-vision
        .group-central
          .inner
            .central-bg
              .wrapper
                .vision-content
                  .content-wrapper
                    span.decor-common
                    h2.title-common-primary.hero-title.js-title Tầm nhìn
                      span.title-large 2026 - 2030
                    .paragraph-common.hero-sub.js-title
                      p Trở thành Nhà phát triển Bất động sản hàng đầu Việt Nam và khu vực Châu Á – Thái Bình Dương. Không ngừng kiến tạo và định hình những chuẩn mực sống tinh hoa mang đẳng cấp quốc tế.
                  .content-wrapper
                    span.decor-common
                    h2.title-common-primary.hero-title.js-title Sứ Mệnh
                    .paragraph-common.hero-sub.js-title
                      p Nâng cao chất lượng cuộc sống &amp; hạnh phúc con người. Kiến tạo hệ sinh thái bất động sản bền vững, mang lại giá trị thực và sự thịnh vượng trọn đời cho mọi khách hàng.
      section.panel.section-top-value
        .group-central
          .inner
            .central-bg
              .wrapper
                .value-heading
                  span.decor-common-secondary
                  .heading-wrapper
                    h2.title-common-primary.is-center.hero-title.js-title Giá trị cốt lõi
                    .paragraph-common.hero-sub.js-title
                      p Bằng năng lực phát triển đồng bộ cùng tư duy chiến lược, chúng tôi không chỉ kiến tạo những công trình mang dấu ấn kiến trúc mà còn góp phần hình thành các cộng đồng thịnh vượng, hiện đại và giàu bản sắc.
                .list-top-value.hero-sub.js-title
                  ul.list-wrapper
                    li.list-item
                      .item-wrapper
                        span.item-icon
                          img.object-common(src=imgPC+"value_icon_01.svg", alt="Chất Lượng" width="89" height="89" loading="lazy")
                        .item-content
                          h3.title-common-primary.is-small Chất Lượng
                          .paragraph-common
                            p Đổi mới không ngừng, tỉ mỉ và thẩm mỹ cao trong từng thiết kế kiến trúc. Liên tục áp dụng công nghệ tiên tiến (Cutting-edge) vào phát triển dự án.
                    li.list-item
                      .item-wrapper
                        span.item-icon
                          img.object-common(src=imgPC+"value_icon_02.svg", alt="Tin Cậy" width="89" height="89" loading="lazy")
                        .item-content
                          h3.title-common-primary.is-small Tin Cậy
                          .paragraph-common
                            p Cam kết chuẩn mực, minh bạch tài chính. Sở hữu năng lực thực thi vững chắc, đảm bảo mọi dự án đều bàn giao đúng tiến độ và cam kết (Trustworthy).
                    li.list-item
                      .item-wrapper
                        span.item-icon
                          img.object-common(src=imgPC+"value_icon_03.svg", alt="Tận Tâm" width="89" height="89" loading="lazy")
                        .item-content
                          h3.title-common-primary.is-small Tận Tâm
                          .paragraph-common
                            p Chăm chút đến từng chi tiết trong không gian sống. Luôn đặt lợi ích cư dân lên hàng đầu, mang lại những di sản vượt thời gian (Dedication).
      section.panel.section-top-activity
        .group-central
          .inner
            .central-bg
              .wrapper
                .activity-content
                  .content-wrapper
                    h2.title-common-primary.hero-title.js-title lĩnh vực hoạt động
                    .paragraph-common.hero-sub.js-title
                      p Bằng năng lực phát triển đồng bộ cùng tư duy chiến lược, chúng tôi không chỉ kiến tạo những công trình mang dấu ấn kiến trúc mà còn góp phần hình thành các cộng đồng thịnh vượng, hiện đại và giàu bản sắc.
                  .list-top-activity.js-title
                    ul.list-wrapper
                      li.list-item.hero-sub
                        .item-wrapper
                          .decor-common-secondary.is-left
                          span.item-number 01
                          .item-content
                            h3.content-title Phát triển bđs <br class="md">nhà ở
                            span.button-common-secondary
                      li.list-item.hero-sub
                        .item-wrapper
                          .decor-common-secondary.is-left
                          span.item-number 02
                          .item-content
                            h3.content-title Phát triển bđs <br class="md">thương mại
                            span.button-common-secondary
                      li.list-item.hero-sub
                        .item-wrapper
                          .decor-common-secondary.is-left
                          span.item-number 03
                          .item-content
                            h3.content-title Phát triển hạ tầng <br class="md">công nghiệp &amp; hậu cần
                            span.button-common-secondary
      section.panel.section-top-projects
        .group-central
          .inner
            .central-bg
              .projects-wrapper
                .project-content
                  h2.title-common-primary.hero-title.js-title dự án nổi bật
                  .list-top-projects.js-top-projects.hero-sub
                    .swiper
                      .swiper-wrapper
                        .swiper-slide
                          .item-wrapper
                            .item-image
                              img.object-common(src=imgPC+"project_img_01.jpg" alt="Gem Sky World" width="305" height="217" loading="eager")
                            h3.item-title Gem Sky World
                        .swiper-slide
                          .item-wrapper
                            .item-image
                              img.object-common(src=imgPC+"project_img_02.jpg" alt="Opal Skyline" width="305" height="217" loading="eager")
                            h3.item-title Opal Skyline
                        .swiper-slide
                          .item-wrapper
                            .item-image
                              img.object-common(src=imgPC+"project_img_01.jpg" alt="ST Moritz" width="305" height="217" loading="eager")
                            h3.item-title ST Moritz
                        .swiper-slide
                          .item-wrapper
                            .item-image
                              img.object-common(src=imgPC+"project_img_02.jpg" alt="Opal Boulevard" width="305" height="217" loading="eager")
                            h3.item-title Opal Boulevard
                  .projects-controller.hero-sub.js-title
                    a.button-common-primary(href="#")
                      span.button-wrapper Tất cả DỰ ÁN
                .projects-image
                  img.object-common(src=imgPC+"project_img_03.jpg" alt="Dự án nổi bật" width="960" height="1050" loading="eager")
                  .image-content.js-title
                    .content-wrapper
                      .content-heading
                        h3.heading-title The Privé
                        span.heading-detail Dự án hạng sang
                      .content-inner
                        .paragraph-common
                          p Tọa lạc tại vị trí đắc địa bậc nhất khu Đông Sài Gòn, The Privé là điểm giao thoa của các trục đường huyết mạch. 
                        span.button-common-secondary.is-light
      section.panel.section-top-news
        .group-central
          .inner
            .central-bg
              .wrapper
                h2.title-common-primary.hero-title.is-center.js-title Tin tức &amp; Sự kiện
                .list-top-news.hero-sub.js-title
                  ul.list-wrapper
                    li.list-item
                      a.item-wrapper(href="#")
                        .item-image
                          img.object-common(src=imgPC+"news_img_01.jpg" width="409" height="233" loading="lazy" alt="Thông cáo báo chí")
                        .item-content
                          span.content-category Tin BLUEMARQ Development
                          p.content-title Thông cáo báo chí
                          time.content-time(datetime="20.05.2026") 20.05.2026
                    li.list-item
                      a.item-wrapper(href="#")
                        .item-image
                          img.object-common(src=imgPC+"news_img_02.jpg" width="409" height="233" loading="lazy" alt="Đất Xanh chuyển mình thành BLUEMARQ GROUP -Bước tái định vị chiến lược lớn nhất trong 23 năm")
                        .item-content
                          span.content-category Tin thị trường
                          p.content-title Đất Xanh chuyển mình thành BLUEMARQ GROUP - Bước tái định vị chiến lược lớn nhất trong 23 năm
                          time.content-time(datetime="20/05/2026") 20.05.2026
                    li.list-item
                      a.item-wrapper(href="#")
                        .item-image
                          img.object-common(src=imgPC+"news_img_03.jpg" width="409" height="233" loading="lazy" alt="The Privé - Sức hút của căn hộ 3 mặt giáp sông")
                        .item-content
                          span.content-category Sự kiện
                          p.content-title The Privé - Sức hút của căn hộ 3 mặt giáp sông
                          time.content-time(datetime="12/05/2026") 12.05.2026
                .news-controller.hero-sub.js-title
                  a.button-common-primary(href="#")
                    span.button-wrapper TẤT CẢ TIN
      section.panel.section-top-journey
        .group-central
          .inner
            .central-bg
              .wrapper
                h2.journey-heading.hero-title.js-title
                  span “
                  | Kiến tạo giá trị di sản cho thế hệ mai <br class="md">sau, biến những tầm nhìn vĩ đại <br class="md">thành hiện thực.
                  span ”
                .hero-sub.js-title
                  p.journey-subtitle — HÀNH TRÌNH KHAI PHÓNG SỰ THỊNH VƯỢNG
      section.panel.section-top-footer
        .group-central
          .inner
            .central-bg
              .wrapper
                .footer-wrapper
                  .footer-information
                    h2.information-image
                      img.object-common(src=imgCommonPC+"header_logo.svg" alt="BLUEMARQ DEVELOPMENT" width="255" height="62" loading="eager")
                    .information-content
                      p Sẵn sàng kết nối nguồn lực, bảo chứng <br clas="md">tương lai cùng BLUEMARQ Development.
                    .information-social 
                      ul.social-list
                        li.social-item
                          a(href="#").item-button.is-facebook
                        li.social-item
                          a(href="#").item-button.is-youtube
                        li.social-item
                          a(href="#").item-button.is-instagram
                  .footer-inner
                    .footer-contact 
                      p.footer-heading TRỤ SỞ CHÍNH
                      ul.list-footer-contact 
                        li.list-item 
                          .item-icon 
                            img.image-common(src=imgCommonPC+"social_icon_07.svg" alt="Địa chỉ" width="20" height="20" loading="eager")
                          .item-content
                            p Tòa nhà BLUEMARQ, 2W Ung Văn Khiêm,
                              br
                              | P. Thạnh Mỹ Tây, TP. Hồ Chí Minh, Việt Nam.
                        li.list-item 
                          .item-icon 
                            img.image-common(src=imgCommonPC+"social_icon_08.svg" alt="Trang web" width="20" height="20" loading="eager")
                          .item-content
                            a.trans(href="www.bluemarqdevelopment.com" target="_blank" rel="noopener noreferrer") www.bluemarqdevelopment.com
                        li.list-item 
                          .item-icon 
                            img.image-common(src=imgCommonPC+"social_icon_09.svg" alt="Email" width="20" height="20" loading="eager")
                          .item-content
                            a.trans(href="mailto:contact@bluemarqdevelopment.com" target="_blank" rel="noopener noreferrer") contact@bluemarqdevelopment.com
                        li.list-item 
                          .item-icon 
                            img.image-common(src=imgCommonPC+"social_icon_10.svg" alt="Số điện thoại" width="20" height="20" loading="eager")
                          .item-content
                            p Hotline: 1900 8063 | 028 6252 5252
                    .footer-sitemap
                      p.footer-heading LIÊN KẾT NHANH
                      ul.list-footer-sitemap 
                        li.list-item
                          a.trans(href=path+"/") Trang chủ
                        li.list-item
                          a.trans(href=path+"/") Giới thiệu
                        li.list-item
                          a.trans(href=path+"/") Dự án
                        li.list-item
                          a.trans(href=path+"/") Tin tức
                        li.list-item
                          a.trans(href=path+"/") Tuyển dụng
                        li.list-item
                          a.trans(href=path+"/") Thư viện 
                        li.list-item
                          a.trans(href=path+"/") Liên hệ
                  .footer-bottom 
                    small.footer-copyright &copy; 2026 BLUEMARQ Development. All rights reserved. 
                    .footer-policy
                      .policy-item
                        a.trans(href="#") Chính sách bảo mật
                      .policy-item
                        a.trans(href="#") Điều khoản sử dụng
                      .policy-item
                        a.trans(href="#") Sitemap                   
