block vars
  - var metaTitle = 'Gallery'
  - var path = '.'
  - var page = 'top'
  - var imgPC = path + '/resources/images/top/'
  - var imgSP = path + '/resources/images/top/sp/'
  - var imgCommonPC = path + '/resources/images/common/'
  - var imgCommonSP = path + '/resources/images/common/sp/'

section.section-gallery
  .wrapper
    .list-top-gallery-detail.js-slider-gallery-detail
      .swiper
        .swiper-wrapper
          .swiper-slide
            .slide-wrapper
              .slide-image
                img.object-common(src=imgPC+"gallery_img_01.jpg" alt="tiện ích nội khu" loading="eager" width="1760" height="820")
          .swiper-slide
            .slide-wrapper
              .slide-image
                img.object-common(src=imgPC+"gallery_img_02.jpg" alt="tiện ích nội khu" loading="eager" width="1760" height="820")
          .swiper-slide
            .slide-wrapper
              .slide-image
                img.object-common(src=imgPC+"gallery_img_03.jpg" alt="tiện ích nội khu" loading="eager" width="1760" height="820")
          .swiper-slide
            .slide-wrapper
              .slide-image
                img.object-common(src=imgPC+"gallery_img_01.jpg" alt="tiện ích nội khu" loading="eager" width="1760" height="820")
          .swiper-slide
            .slide-wrapper
              .slide-image
                img.object-common(src=imgPC+"gallery_img_02.jpg" alt="tiện ích nội khu" loading="eager" width="1760" height="820")
          .swiper-slide
            .slide-wrapper
              .slide-image
                img.object-common(src=imgPC+"gallery_img_03.jpg" alt="tiện ích nội khu" loading="eager" width="1760" height="820")
          .swiper-slide
            .slide-wrapper
              .slide-image
                img.object-common(src=imgPC+"gallery_img_01.jpg" alt="tiện ích nội khu" loading="eager" width="1760" height="820")
        .swiper-button-prev.trans
        .swiper-button-next.trans
        .swiper-pagination
